/* About-us */

.about-us {
    display: grid;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 140px;
}

.about-us-wrapper {
    padding-left: 115px;
    width: 1285px;
    display: grid;
    grid-template-columns: 472px auto;
    grid-template-rows: repeat(3, auto);
}

.about-us__text {
    font-size: 18px;
    line-height: 27px;
}

.about-us__picture {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    align-self: center;
}
