/* About-us */

.about-us {
    display: grid;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 10px;
}

.about-us__title {
    margin-bottom: 23px;
}

.about-us-wrapper {
    padding-left: 115px;
    width: 1285px;
    display: grid;
    grid-template-columns: 472px auto;
    grid-template-rows: repeat(3, auto);
    row-gap: 27px;
}

.about-us__text {
    margin: 0;
    width: 350px;
    font-size: 18px;
    line-height: 27px;
}

.about-us__picture {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    align-self: center;
}

@media only screen and (max-width: 1400px) {
	.about-us-wrapper {
    	padding: 0 15px;
	}
}

@media only screen and (max-width: 1314px) {
	.about-us-wrapper {
        justify-self: center;
        width: 815px;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        row-gap: 27px;
    }

    .about-us__picture {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        align-self: center;
    }

    .about-us__title {
        text-align: center;
    }

    .about-us__text {
        width: 100%;
    }

}

@media only screen and (max-width: 845px) {
    .about-us-wrapper {
        width: 100%;
        box-sizing: border-box;
    }

    .about-us__text {
        font-size: 15px;
        line-height: 24px;
    }

    .about-us__image {
        width: 100%;
        height: auto;
    }
}
