/* Blog */

.blog {
    display: grid;
    justify-content: center;
}

.blog-wrapper {
    display: grid;
    grid-template-columns: 1fr 700px;
    grid-template-rows: auto auto;
    column-gap: 70px;
}

.blog__title {
    grid-column: 1 / -1;
    justify-self: center;
}

/* blog-menu */

.blog-menu {
    display: grid;
    grid-template-rows: repeat(6, auto);
    align-items: center;
}

.blog-menu__link {
    background-color: #FFFFFF;
    text-decoration: none;
}

.blog-menu__link_current {
    background-color: #061B28;
}

.blog-menu__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #061B28;
}

.blog-menu__link_current .blog-menu__title {
    color: #FCFCFC;
}

.blog__link {
    text-align: center;
    text-decoration: none;
}

/* Posts */

.post {
    display: grid;
    grid-template-rows: repeat(5, auto);
}

.post__title  {
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
}

.post__time {
    grid-row: 2 / 3;
}

.post__picture {
    grid-row: 1 / 2;
}

.post__text {
    line-height: 24px;
}
