/* Country */

.country {
    display: grid;
    justify-content: center;
    background-color: #061B28;
    background-image: url(../images/background_country.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    line-height: 25px;
    color: #FCFCFC;
    padding-top: 96px;
    padding-bottom: 100px;
}

.country-wrapper {
    width: 830px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
}

.country__title {
    margin-bottom: 21px;
    color: #FCFCFC;
}

.country__text {
    margin: 0;
    margin-bottom: 53px;
    width: 243px;
    text-align: center;
}

.country__link {
    display: block;
    border: 2px solid #FCFCFC;
    padding: 11px 31px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
}

/* Mountains__table */

.mountains-table {
    display: grid;
    grid-template-rows: repeat(5, auto);
    row-gap: 25px;
    margin-bottom: 50px;
}

.mountains-table__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
    position: relative;
}

.mountains-table__row::after {
    content: '';
    width: 830px;
    background-color: #45545E;
    padding-top: 1px;
    position: absolute;
    top: 43px;
    left: -100px;
}

.mountains-table__row:first-child:after {
    top: 36px
}

.mountains-table__cell:last-child:after {
    content: '';
    background-image: url(../images/ruble-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 16px;
    margin-left: 5px;
    padding-left: 11px;
}

.mountains-table__cell {
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
}

.mountains-table__title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #A7AEB4;
}

.mountains-table__title:last-child::after {
    display: none;
}
