/* Footer */

.footer {
    display: grid;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
    color: #FCFCFC;
    background-color: #061B28;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.copyright {
    justify-self: start;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 5px;
}

.copyright__link {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.copyright__text {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
}

.footer-navigation {
    justify-self: center;
}

.footer-navigation__link {
    text-decoration: none;
}

.politics {
    justify-self: end;
}

.politics__link {
    color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}
