/* Footer */

.footer {
    display: grid;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
    color: #FCFCFC;
    background-color: #061B28;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.copyright__link {
    color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.footer-navigation__link {
    text-decoration: none;
}

.politics__link {
    color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}
