/* Footer */

.footer {
    display: grid;
    justify-content: center;
    font-size: 12px;
    line-height: 18px;
    color: #FCFCFC;
    background-color: #061B28;
    padding: 43px 0;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.footer-link {
    transition: .3s;
}

.footer-link:hover {
    color: rgba(230, 232, 234, 0.5);
}

.footer-link:active {
    transform: scale(.95);
    transition: .3s;
}

/* Copyright */

.copyright {
    justify-self: start;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 5px;
}

.copyright__link {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.copyright__text {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    margin: 0;
}

/* Navigation */

.footer-navigation {
    justify-self: center;
}

.footer-navigation__link {
    display: inline-block;
    text-decoration: none;
}

/* Politics */

.politics {
    justify-self: end;
}

.politics__link {
    display: inline-block;
    color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .footer {
        font-size: 9px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 510px) {
    .footer-wrapper {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        row-gap: 10px;
    }

    .copyright {
        grid-row: 3 / -1;
        justify-self: center;
    }

    .politics {
        justify-self: center;
    }
}
