/* Header */

.header {
    display: grid;
    justify-content: center;
    background-color: #E6E8EA;
    background-image: url(../images/background_header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-wrapper {
    display: grid;
    grid-template-rows: repeat(3, auto);
}

/* Navigation */

.navigation__link {
    color: #fcfcfc;
    text-align: center;
    text-decoration: none;
}

/* Promo */

.promo {
    justify-self: center;
}

.promo__title {
    font-size: 98px;
    line-height: 145px;
    color: #FCFCFC;
}

.promo__link {
    text-align: center;
    text-decoration: none;
}

/* Blog.html */

.blog-page__title {
    font-size: 98px;
    line-height: 145px;
    color: #FCFCFC;
}
