/* Header */

.header {
    display: grid;
    justify-content: center;
    background-color: #E6E8EA;
    background-image: url(../images/background_header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-wrapper {
    padding-top: 30px;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

/* Navigation */

.navigation {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 89px;
    position: relative;
}

.navigation-burger {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 89px;
}

.navigation__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation__list-one {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: start;
    column-gap: 10px;
}

.navigation__list-two {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    align-items: center;
    column-gap: 30px;
}

.navigation__link {
    display: block;
    padding: 17px 10px;
    align-self: center;
    color: #fcfcfc;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.navigation__link::after {
    content: '';
    width: 0;
    height: .5px;
    background-color: #fcfcfc;
    position: absolute;
    top: 52px;
    left: 0;
    transition: .3s;
}

.navigation__link:hover::after {
    width: 100%;
}

.navigation__link:active {
	transform: scale(.95);
	transition: .3s;
}

.navigation__phone {
	padding-bottom: 18px;
}

.navigation__icon {
    box-sizing: border-box;
    display: block;
    padding: 11px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgba(252, 252, 252, 0.40);
    background-repeat: no-repeat;
    background-position: center;
}

.navigation__icon:hover {
	border: .5px solid #fcfcfc;
	transform: scale(1.1);
	transition: transform .3s;
}

.navigation__icon:active {
	border: .5px solid #fcfcfc;
	transform: scale(.95);
	transition: transform .3s;
}

.navigation__icon::after {
	display: none;
}

.navigation__search {
    background-image: url(../images/search.svg);
    background-size: 13px 13px;
}

.navigation__account {
    background-image: url(../images/personal_account.svg);
    background-size: 11px 13px;
}

.navigation__logo {
    padding: 9px 0;
}

@media only screen and (min-width: 1025px) {
    .burger-checkbox {
        display: none;
    }

    .burger-label {
        display: none;
    }

    .burger-menu {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .burger-checkbox {
        display: none;
    }

    .burger-menu {
        width: 40px;
        justify-self: right;
    }

    .burger-line {
        display: block;
        width: 40px;
        height: 2px;
        background-color: #FCFCFC;
        position: absolute;
        top: 11px;
        right: 0;
        transition: .5s;
        z-index: 4;
    }

    .line-second,
    .line-third {
        top: 25px;
    }

    .line-fourth {
        top: 40px;
    }

    .burger-label {
        width: 40px;
        height: 41px;
        position: absolute;
        top: 6px;
        right: 0;
        cursor: pointer;
        z-index: 5;
    }

    .navigation-burger {
        display: block;
        position: absolute;
        top: 0;
        left: 190px;
        max-height: 0;
        overflow: hidden;
        transition: .5s;
    }

    #check-menu:checked ~ .navigation-burger {
        max-height: 120px;
    }

    #check-menu:checked ~ .burger-menu .line-first,
    #check-menu:checked ~ .burger-menu .line-fourth {
        display: none;
    }

    #check-menu:checked ~ .burger-menu .line-second {
        transform: rotate(45deg);

    }

    #check-menu:checked ~ .burger-menu .line-third {
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width: 768px) {
    .navigation {
        column-gap: 40px;
    }

    .navigation-burger {
        left: 141px;
    }

    .navigation__link {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

@media only screen and (max-width: 660px) {
    .navigation__logo {
        z-index: 3;
    }

    .navigation-burger {
		width: 0;
		height: 360px;
		max-height: 500px;
		padding: 84px 0 30px 0;
        background-color: #061B28;
		font-size: 0;
        top: -30px;
        left: -15px;
        z-index: 2;
    }

	 .navigation__list-one {
        grid-template-columns: auto;
        grid-template-rows:repeat(5, auto);
    }

    .navigation__list-two {
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2, auto);
        column-gap: 0;
        row-gap: 17px;
    }

	.navigation__list-two .navigation__item:first-child {
        grid-column: 1 / -1;
    }

    .navigation__link {
        padding-left: 0;
        text-align: left;
    }

    #check-menu:checked ~ .navigation-burger {
		max-height: 500px;
        width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 16px;
    }
}

/* Promo */

.promo {
    padding-top: 170px;
    padding-bottom: 204px;
    justify-self: center;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 24px;
    justify-items: center;
}

.promo__title {
    margin: 0;
    font-size: 98px;
    line-height: 145px;
    color: #FCFCFC;
}

.promo__link {
    padding: 11px 42px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #FCFCFC;
	position: relative;
    transition: color .3s ease-in-out, mix-blend-mode .3s ease-in-out;
}

.promo__link::before {
	content: '';
    width: 0;
	height: 100%;
	background-color: #FCFCFC;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
    transition: .3s;
}

.promo__link:hover::before {
	width: 100%;
}

.promo__link:hover {
	color: rgba(0, 0, 0, 1);
	mix-blend-mode: screen;
}

.promo__link:active {
	transform: scale(.95);
	transition: .3s;
}

@media only screen and (max-width: 768px) {
    .promo {
        padding-top: 85px;
        padding-bottom: 102px;
            }

    .promo__title {
        font-size: 89px;
        line-height: 137px;
    }
}

@media only screen and (max-width: 480px) {
    .promo__title {
        font-size: 80px;
        line-height: 130px;
    }
}

/* Blog.html */

.blog-page__title {
    padding-top: 170px;
    padding-bottom: 273px;
    justify-self: center;
    font-size: 98px;
    line-height: 145px;
    color: #FCFCFC;
}

@media only screen and (max-width: 768px) {
    .blog-page__title {
        padding-top: 85px;
        padding-bottom: 168px;
        font-size: 89px;
        line-height: 137px;
    }
}

@media only screen and (max-width: 480px) {
    .blog-page__title {
        font-size: 80px;
        line-height: 130px;
    }
}
