/* Help */

.help {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FCFCFC;
    background-color: #061B28;
}

.help-wrapper {
    margin-right: 60px;
    width: 525px;
    justify-self: end;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.help__title {
    margin-bottom: 30px;
    color: #FCFCFC;
}

.help__text {
    margin: 0;
    margin-bottom: 37px;
    font-size: 18px;
    line-height: 27px;
}

/* Form */

.help__form {
    margin-bottom: 22px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 35px;
    width: 525px;
}

/* Fields */

.help__field {
    padding-bottom: 11px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7E8386;
    background-color: #061B28;
    width: 525px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #45545E;
    outline: none;
    transition: .3s;
}

.help__field:hover {
    letter-spacing: 2px;
}

.help__field:focus {
    padding-bottom: 10px;
    border-bottom: 2px solid #7E8386;
    transition: .1s;
}

/* Button */

.help__button {
    margin-top: 10px;
    padding: 14px 0;
    border: none;
    position: relative;
}

.help__button:hover {
    padding: 12px 0;
	border: 2px solid #EC5118;
    mix-blend-mode: lighten;
}

.help__button::before {
    content: '';
    width: 0;
    height: 100%;
    background-color: #061B28;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .3s;
}

.help__button:hover::before {
    width: 100%;
}

.help__button:active {
    transform: scale(.95);
    transition: .3s;
}

.help__note {
    margin: 0;
    width: 393px;
    font-size: 14px;
    line-height: 20px;
}

.help__image {
    width: 100%;
}
