/* Help */

.help {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FCFCFC;
    background-color: #061B28;
}

.help-wrapper {
    width: 525px;
    justify-self: end;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.help__title {
    color: #FCFCFC;
}

.help__text {
    font-size: 18px;
    line-height: 27px;
}

.help__form {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 50px;
}

.help__field {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #061B28;
}

.help__note {
    font-size: 14px;
    line-height: 20px;
}

.help__image {
    width: 100%;
}
