/* Our-blog */

.our-blog {
    padding-top: 140px;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

/* Posts */

.posts {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 140px;
}

/* Post */

.post {
    line-height: 24px;
}

.post__title  {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
}

.post__time {
    margin-bottom: 20px;
}

.post__title,
.post__time {
    align-self: baseline;
}

.post__title-inner {
    font-weight: 500;
    font-size: 19px;
}

.post__text {
    margin: 0;
    text-align: justify;
}

/* Post-one */

.post-one {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr auto;
}

.post-one .post__picture {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 40px;
}

.post-one .text-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 24px;
}

.post__image {
    display: block;
}

/* Post-two */

.post-two {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr auto;
}

.post-two .text-wrapper {
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: repeat(10, auto);
}

.post__link {
    grid-column: 1/-1;
    justify-self: start;
    color: #061B28;
    text-align: center;
    text-decoration: none;
}



/* Pagination */

.pagination {
    display: grid;
    grid-template-columns: repeat(5, auto);
}
