/* Our-blog */

.our-blog {
    padding-top: 70px;
    padding-bottom: 100px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
}

/* Posts */

.posts {
    display: grid;
    grid-template-rows: auto auto;
}

/* Post */

.post {
	padding-top: 70px;
	padding-bottom: 70px;
    line-height: 24px;
    row-gap: 40px;
	border-bottom: 1px solid #626F77;
}

.post__title  {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
}

.post__title,
.post__time {
    align-self: baseline;
}

.post__title-inner {
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
    font-size: 19px;
}

.text-wrapper {
    row-gap: 24px;
}

.post__text {
    margin: 0;
    text-align: justify;
}

/* Post-one */

.post-one {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr auto;
}

.post-one .post__picture {
    grid-column: 1 / -1;
    justify-self: center;
}

.post-one .text-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: auto auto;
}

.post__image {
    display: block;
}

/* Post-two */

.post-two {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr auto;
}

.post-two .text-wrapper {
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: repeat(10, auto);
}

.post__list {
    margin: 0;
    padding-left: 18px;
}

.post__link {
    grid-column: 1/-1;
    justify-self: start;
    color: #061B28;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

/* Pagination */

.pagination {
    width: 780px;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination__link {
    color: #626F77;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: block;
    line-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.pagination__link svg path {
    stroke: #626F77;
}
