/* Popular-tours */

.popular-tours {
    display: grid;
    justify-content: center;
}

.popular-tours-wrapper {
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
}

.popular-tours__title {
    margin-bottom: 40px;
    justify-self: center;
}

/* Mountains */

.swiper {
    width: 100%;
    overflow: hidden;
}

.mountain {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 100px auto auto auto;
    grid-template-areas:
        "country  button"
        ".        ."
        "title    ."
        "features ."
        "level    .";
    font-size: 18px;
    line-height: 21px;
    background-color: #E6E8EA;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    position: relative;
}

.mountain::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(249, 249, 250, 0.00) 0%, rgba(249, 249, 250, 0.90) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.mountain-one {
    background-image: url("../images/tours_1.jpeg");
}

.mountain-two {
    background-image: url("../images/tours_2.jpeg");
}

.mountain-three {
    background-image: url("../images/tours_3.jpeg");
}

.mountain__title {
    grid-area: title;
    margin: 0;
    margin-bottom: 25px;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}

.mountain__country {
    grid-area: country;
    margin: 0;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 18px;
}

.mountain__country::before {
    content: '';
    background-image: url(../images/point.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 16px;
    margin-right: 7px;
    padding-right: 13px;
}

.mountain__button {
    grid-area: button;
    padding: 0;
    justify-self: end;
    align-self: start;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100%;
    background-color: rgba(252, 252, 252, 0.40);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mountain__button svg {
    fill: #ec5119;
}

.mountain__button:hover {
    border: .5px solid #fcfcfc;
    transform: scale(1.1);
    transition: transform .3s;
}

.mountain__features {
    grid-area: features;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.mountain__height {
    margin: 0;
}

.mountain__time {
    margin: 0;
}

.mountain__price {
    margin: 0;
}

.mountain__time::before,
.mountain__price::before {
    content: '';
    width: 1px;
    height: 13px;
    background-color: #061B28;
    margin-right: 10px;
    padding-right: 1px;
}

.mountain__price::after {
    content: '';
    background-image: url(../images/ruble.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px 13px;
    margin-left: 3px;
    padding-left: 9px;
}

.mountain__level {
    grid-area: level;
    margin: 0;
}

.mountain__level::before {
    content: '';
    background-image: url(../images/level_middle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    margin-right: 6px;
    padding-left: 12px;
}

.mountain-three .mountain__level::before {
    content: '';
    background-image: url(../images/level-easy.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    margin-right: 6px;
    padding-left: 12px;
}


.buttons {
    justify-self: end;
    display: grid;
    grid-template-columns: 35px 35px;
    column-gap: 25px;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    margin: 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background-color: rgba(230, 232, 234, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px 7px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    background-image: url(../images/arrow-previous.svg);
}

.swiper-button-next {
    background-image: url(../images/arrow-next.svg);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

.swiper-button-prev:active,
.swiper-button-next:active {
    transform: scale(.95);
    transition: transform .3s;
}

@media only screen and (max-width: 992px) {
    .mountain {
        grid-template-areas:
        "country  button"
        ".        ."
        "title    ."
        "features features"
        "level    level";
        font-size: 23px;
        line-height: 26px;
    }

    .mountain__country {
        font-size: 21px;
        line-height: 23px;
    }

    .mountain__country::before {
        background-size: 18px 21px;
        padding-right: 18px;
    }

    .mountain__button {
        transform: scale(1.5);
    }

    .mountain__title {
        font-size: 31px;
        line-height: 35px;
    }

    .mountain__time::before,
    .mountain__price::before {
        margin-right: 4px;
    }

    .mountain-three .mountain__time::before,
    .mountain-three .mountain__price::before {
        margin-right: 7px;
    }

    .mountain__level::before {
        background-size: 17px 17px;
        padding-left: 17px;
    }

    .mountain-three .mountain__level::before {
        background-size: 17px 17px;
        padding-left: 17px;
    }

    .buttons {
        column-gap: 37px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        transform: scale(1.5);
    }
}
