/* Promo */

.promo {
    background-color: #E6E8EA;
}

.promo__title {
    font-size: 98px;
    line-height: 145px;
    color: #FCFCFC;
}

.promo__link {
    text-align: center;
    text-decoration: none;
}
