@font-face {
    font-family: "Oswald";
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/oswald-v49-cyrillic-ext_latin-500.woff2);
    display: swap;
}

@font-face {
    font-family: "Oswald";
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/oswald-v49-cyrillic-ext_latin-600.woff2);
    display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/roboto-v30-cyrillic-ext_latin-regular.woff2);
    display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/roboto-v30-cyrillic-ext_latin-500.woff2);
    display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/roboto-v30-cyrillic-ext_latin-700.woff2);
    display: swap;
}

body {
    margin: 0 auto;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #061B28;
    background-color: #FFFFFF;
}

.title {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 60px;
    color: #061B28;
    background-color: #FFFFFF;
}

.button {
    font-weight: 500;
    color: #FCFCFC;
    background-color: #061B28;
}

.time {
    font-size: 14px;
    line-height: 20px;
    color: #626F77;
    background-color: #FFFFFF;
}
